.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: blue;
    margin-bottom: 20px;
}

#navbarNavDropdown{
    justify-content: end;
    font-weight: 600;
}

.navbar-nav {
    padding: 5px;
}

li.nav-item {
    margin-left: 20px;
}

.header {
    padding: 30px;
}

.container {
    padding: 40px;
    justify-content: end;
}
h6.subtitle {
    color: gray;
    font-size: 25px;
}

h6.title {
    font-weight: bold;
    font-size: 74px;
}

.social.mt-4 {
    margin-top: 1.5rem !important;
    font-size: 40px;
}

.socials .social-item {
    display: inline;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    color: blue;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.img-holder img {
    width: 75%;
    height: 75%;
    position: relative;
    margin-left: 80px;
}

.header .container {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-bottom: -70px;
}

.header#home {
    border-bottom: 3px solid gray;
    box-shadow: 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 0px;
} 
